body {
    background: #26C6DA;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;

}

.App {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}